.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 106;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 16, 16, 0.6);
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms;
}

.backdrop--hide {
  opacity: 0;
  visibility: hidden;
}
