.floating {
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  .floating__wrapper {
    width: 94%;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.14);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.14);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: block;
      width: 25%;
      text-align: center;
      padding: 10px 5px;
      text-decoration: none;
      img {
        display: block;
        width: 36px;
        margin: 0 auto;
      }
      span {
        display: block;
        font-size: 10px;
        font-weight: 500;
        line-height: 1.25;
        margin-top: 6px;
        color: #111010;
        &:hover {
          color: #163c80;
        }
      }
    }
  }
}
