.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 250ms;
  text-align: center;
}
.preloader--hide {
  opacity: 0;
  visibility: hidden;
  transition-delay: 430ms;
}
.preloader img {
  width: 70px;
  display: block;
  margin: 0 auto 15px;
}
