.divider {
  margin: 20px 0;
  background: transparent;
  height: 1px;
}
.divider--border {
  background-color: #eeeaea;
}
.divider--margin-small {
  margin: 5px 0;
}
.divider--margin-small-extra {
  margin: 2.5px 0;
}
img {
  max-width: 100%;
}
