body {
  font-family: "SF Pro Text", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: #111010;
  background-color: #f1f5f6;
  text-rendering: optimizeLegibility;
}
